<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p class="about text-justify">Hello! I'm Lj., a versatile and passionate developer with 3.5 years of experience in web development, software development, and game development. My journey into web development started when I was in gradeschool, learning about HTML and web designing. Since then, I've grown a passion in the field and dedicated myself to learning more about the art of coding.</p>
      </div>
      <div class="col-lg-4">
        <p class="about text-justify">I believe in the power of well-crafted code and design to bring ideas to life. Whether it’s developing a responsive website, crafting a robust software application, or building an immersive game, my goal is to deliver exceptional results that exceed expectations. I am committed to providing solutions that are not only functional but also user-friendly and visually appealing.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <hr class="star-light">
        <h3>Skills</h3>
        <hr class="star-light">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="list-unstyled about justify-content-around">
          <li><strong>Web Development:</strong> Proficient in HTML, CSS, JavaScript, PHP, Python, and Ruby on Rails.</li>
          <li><strong>Mobile and Software Development:</strong> Experienced with Java, Python, C#, .NET, in creating efficient software solutions.</li>
          <li><strong>Game Development:</strong> Skilled in Unity, Godot, and RPG Maker for engaging and interactive games.</li>
          <li><strong>Databases:</strong> Knowledgeable in MySQL, PostgreSQL, SQLite MongoDB, and Microsoft SQL.</li>
        </ul>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
        <br>
        <a target="_blank" href="{{ '/_pdfs/myresume.pdf' | relative_url }}" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> View Resume
        </a>
      </div>
    </div>
  </div>
</section>
